<td>
  <input type="checkbox" class="js-nm-friends-select-checkbox" {{#if selected}}checked{{/if}}>
</td>
<td class="nm-friends-name">
  <h5 class="media-heading">{{name}}</h5>
</td>
<td>
  <a class="js-nm-friends-edit nm-friends-action" data-toggle="popover">
    <i class="fa fa-pencil"></i>
  </a>
</td>
<td>
  <a class="js-nm-friends-delete nm-friends-action">
    <i class="fa fa-trash-o"></i>
  </a>
</td>
