<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-responsive img-rounded" width="40" src="http://graph.facebook.com/{{fbid}}/picture" alt="{{name}}">
  </a>
  <div class="media-body">
    <h5 class="media-heading highlight">{{name}}</h5>
    <p>{{message}}</p>
  </div>
</div>
