<div class="js-nm-groups-add-popover">
  <div class="form-group">
    <label for="name">Name of Group</label>
    <input type="text" class="form-control" id="group-name" placeholder="Enter group's name">
  </div>
  <button class="btn btn-warning js-nm-friends-add">Add</button>
</div>
