<div class="row">
  <div class="col-md-12">
    <h1>{{group.name}}</h1>
    <hr>
    <div>
      <ul>
        {{#each group.members}}
          <li>{{this.name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
