<div class="row">
  <div class="col-md-4">
    <h5 class="highlight">Date</h5>
    <h2 contenteditable class="nm-collab-meeting-details-date">{{date}}</h2>
  </div>
  <div class="col-md-3">
    <h5 class="highlight">Time</h5>
    <h2 contenteditable class="nm-collab-meeting-details-time">{{time}}</h2>
  </div>
  <div class="col-md-5">
    <h5 class="highlight">Venue</h5>
    <h2 contenteditable class="nm-collab-meeting-details-venue">{{venue}}</h2>
    <button class="btn btn-xs btn-warning show-venues" data-toggle="modal" data-target="#venues-modal">Select Venue</button>
  </div>
</div>
