<div class="row">
  <div class="col-md-9">
    <h1>{{group.name}}</h1>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Next Meeting</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <h5 class="highlight">Date</h5>
                    <h2>15th Nov, Friday</h2>
                  </div>
                  <div class="col-md-4">
                    <h5 class="highlight">Time</h5>
                    <h2>09:00</h2>
                  </div>
                  <div class="col-md-4">
                    <h5 class="highlight">Venue</h5>
                    <h2>COM1-0202</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Members</h3>
              </div>
              <div class="panel-body">
                <div>
                  {{#each group.members}}
                    <h5>
                      <img class="img-rounded" src="http://graph.facebook.com/{{this.fbid}}/picture" width="40"> &nbsp; 
                      {{this.name}}
                    </h5>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 nm-collab-message-container">
    <div class="panel panel-default nm-collab-message">

      <div class="panel-heading">
        <h3 class="panel-title">Group Chat</h3>
      </div>
      <div class="panel-body nm-collab-message-content-container">
        <div class="nm-collab-message-content">

        </div>
      </div>
      <div class="nm-collab-message-input-container">
        <input type="text" class="form-control js-nm-collab-input-message" placeholder="Enter your message">
      </div>
    </div>
  </div>
</div>
